<section class="todoapp">
  <!-- This section should be hidden by default and shown when there are todos -->
  <!-- This footer should hidden by default and shown when there are todos -->
  <app-todo-add></app-todo-add>

  <section class="main">
    <input
      id="toggle-all"
      class="toggle-all" type="checkbox" (click)="cambiarTodos()">
    <label for="toggle-all">Mark all as complete</label>
    <app-todo-list></app-todo-list>
  </section>
  <app-todo-footer></app-todo-footer>
</section>
